*{
    box-sizing: border-box;
}
html, body{
    background-color: #eee;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1px;
    font-size: xx-large;
    font-family: "Comic Sans MS", Arial, Tahoma, Verdana;
}